.about {
    margin-top: -4rem;
    height: 80vh;
    width: 100%;
    background-color: var(--darkGrey);
    color: var(--whiteDirty);
    font-family: var(--font-sans);
}

.image-profile {
    background-image: url('../../../public/IMG-20200101-WA0036.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 20rem;
    border-radius: 10%;
    border: 2px solid var(--fucsia);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 16px 0px;
}

ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 300px));
    gap: 0 1.5rem;
    overflow: hidden;
    list-style: none;
    margin-top: 2rem;
}

ul.skills-list li {
    position: relative;
    margin-bottom: 0.6rem;
    font-family: var(--font-mono);
}

ul.skills-list li::before {
    content: "\2022";
    color: var(--tourquise);
    margin-right: 2rem;
}

@media only screen and (max-width: 480px) {
    .about {
        margin-top: 2rem;
        height: auto;
        padding-bottom: 1.5rem;
    }

    ul.skills-list li {
        font-size: .8rem;
    }

    ul.skills-list {
        gap: 0 1rem;
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    ul.skills-list li::before {
        margin-right: 0.8rem;
    }

    .image-profile {
        display: none;
    }
}

@media only screen and (min-width: 480px) {
    .about {
        height: auto;
        padding-bottom: 1.5rem;
    }

    .image-profile {
        margin-left: 1rem;
        width: 16rem;
        height: 16rem;
    }
}

@media only screen and (min-width: 767px) {
    .about {
        height: auto;
        padding-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 960px) {

    ul.skills-list {
        gap: 0 1.2rem;
        margin-top: 1.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    ul.skills-list li::before {
        margin-right: 0.8rem;
    }
}

@media only screen and (min-width: 1200px) {
    .image-profile {
        margin-left: 1rem;
        width: 20rem;
        height: 20rem;
    }
}